extends ../layout

block body
    #body
    #legacy
        script.
            //o(function(){
              //init('#{state}');
            //});


        #jobs
        #loading: canvas(width=50, height=50)
