html
    head
        link(rel='stylesheet', href='./stylesheets/main.css')
        link(rel='stylesheet', href='/css/55932a3f-07d9-4b47-bc5c-270d7b7972e8.css')
        script(src='./javascripts/utils.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/jquery.ext.js')
        script(src='./javascripts/caustic.js')
        script(src='./javascripts/progress.js')
        script(src='./javascripts/loading.js')
        script(src='./javascripts/job.js')
        script(src='./javascripts/search.js')
        script(src='./javascripts/main.js')

        script(src='/js/app-vendor.js')
        script(src='/js/55932a3f-07d9-4b47-bc5c-270d7b7972e8.js')
        script(src='/js/templates-5c118fbf-7f2c-4839-bdfe-24fb093b0d22.js')

    body
        #actions
            include _search
            include _filter
            include _sort
        #content
            block body
        script(type='text/template')#job-template
            include _job
        script(type='text/template')#row-template
            include _row
        #error
