html
    head
        link(rel='stylesheet', href='./stylesheets/main.css')
        link(rel='stylesheet', href='/css/432cd418-22b9-4459-835c-e2aba49f9159.css')
        script(src='./javascripts/utils.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/jquery.ext.js')
        script(src='./javascripts/caustic.js')
        script(src='./javascripts/progress.js')
        script(src='./javascripts/loading.js')
        script(src='./javascripts/job.js')
        script(src='./javascripts/search.js')
        script(src='./javascripts/main.js')

        script(src='/js/app-vendor.js')
        script(src='/js/432cd418-22b9-4459-835c-e2aba49f9159.js')
        script(src='/js/templates-432cd418-22b9-4459-835c-e2aba49f9159.js')

    body
        #actions
            include _search
            include _filter
            include _sort
        #content
            block body
        #error
