html
    head
        link(rel='stylesheet', href='./stylesheets/main.css')
        link(rel='stylesheet', href='/css/6756e8a5-cdfd-4e2e-9a80-198156f5a6a2.css')
        script(src='./javascripts/utils.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/jquery.ext.js')
        script(src='./javascripts/caustic.js')
        script(src='./javascripts/progress.js')
        script(src='./javascripts/loading.js')
        script(src='./javascripts/job.js')
        script(src='./javascripts/search.js')
        script(src='./javascripts/main.js')

        script(src='/js/app-vendor.js')
        script(src='/js/104f5cbc-c739-4916-9c37-0d0645d19ec9.js')
        script(src='/js/templates-5d33fd49-af2a-42d6-a6e9-365d130d0b2a.js')

    body
        #actions
            include _search
            include _filter
            include _sort
        #content
            block body
        script(type='text/template')#job-template
            include _job
        script(type='text/template')#row-template
            include _row
        #error
